.Verify {
  font-family: sans-serif;
  height: 95vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.code-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  padding: 75px 85px;
  margin-left: 300px;
}
.code-label {
  margin-bottom: 16px;
}
.code-inputs {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.code-inputs input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: center;
  height: 90px;
  width: 70px;
  border-radius: 8px;
  margin: 0 32px 0 0px;
  border: 2px solid #a1a1a1;
  font-size: 38px;
}
.code-inputs input:focus {
  outline: none;
}
.code-inputs input:nth-child(3n) {
  margin-right: 24px;
}
